/* Overall Layout */
body {
	background-color: #444;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hidden {
	visibility: hidden;
}
.flex-container {
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
}
.flex-column {
	flex-direction: column !important;
}
.flex-ignore {
	-webkit-box-flex: 0 !important;
	-webkit-flex: 0 0 auto !important;
	-ms-flex: 0 0 auto !important;
	flex: 0 0 auto !important;
}
.flex-item {
	-webkit-box-flex: 1 !important;
	-webkit-flex: 1 1 auto !important;
	-ms-flex: 1 1 auto !important;
	flex: 1 1 auto !important;
}
h3, h4 {
	text-align: center;
}

.logo {
	margin: 0 auto;
	height: 40px;
}
.options.segment {
	padding-bottom: 28px !important;
}

.full.height .toc-copy {
	position: fixed;
	z-index: 1;
	width: 350px;
	min-height: 100vh;
}
.full.height .map {
	min-width: 0px;
	min-height: 100vh;
	background-color: #eee;
}

/* Sticky Content */
.map-container {
	position: relative;
}
.map {
	z-index: 0;
}

/* Responsive Design */
@media (min-width: 768px) {
	.full.height .toc-copy + div {
		margin-left: 350px;
	}
}

@media (max-width: 767px) {
	.toc {
		width: 100% !important;
	}

	.toc-copy {
		display: none !important;
	}
}

/* Below are new stuffs */

.filter-title {
	line-height: 40px !important;
}

.filters .field {
	padding: 0 20px !important;
}

.filters .field:not(:last-child) {
	padding-bottom: 10px !important;
}

.popup .segment:first-child {
	padding: 3px 0 8px 0 !important;
}
.popup .segment:last-child {
	padding: 8px 0 3px 0 !important;
}

.marker {
	width: 18px;
	height: 18px;
	display: block;
}

.bar-title {
	padding: 14px 0 28px 0 !important;
}

.ui.popup, .ui.popup:before {
	background-color: rgb(163, 51, 200) !important;
	color: white !important;
}
.ui.popup .segment.with-divider {
	border-bottom-color: white !important;
}